<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.openId" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.houseId" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.houseTitle" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.houseUrl" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">0未处理  1处理完毕</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.status" placeholder="0未处理  1处理完毕"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.createTime" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.updateTime" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.attr1" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.attr2" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.attr3" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mfComplaints.attr4" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>

<script src="${rc.contextPath}/js/mfcomplaints/mfcomplaints_add.js?_${date.systemTime}"></script>
</body>
</html>